.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal .grid-2x1 {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;
    grid-column-gap: 0%;
    grid-template-columns: 45% 45%;
}

.reveal .grid-2x2 {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;
    grid-row-gap: 0%;
    grid-column-gap: 0%;
    grid-template-rows: 40% 40%;
    grid-template-columns: 40% 40%;
}